<h2 class="bg-warning text-white">{{ title }}</h2>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm">
      <canvas #barCanvas></canvas>
      <h5 class="card-title text-center">Bar chart</h5>
    </div>
    <div class="col-sm">
      <canvas #doughnutCanvas></canvas>
      <h5 class="card-title text-center">Doughnut chart</h5>
    </div>
    <div class="col-sm">
      <canvas #lineCanvas></canvas>
      <h5 class="card-title text-center">Line chart</h5>
    </div>
  </div>
</div>
