<div id="tophdr" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="input-group mb-3" style="margin-top:2em">
        
            <div>
                <label class="input-group-text" for="inputGroupSelect01">Choose State</label>
            </div>
            <select [(ngModel)]="state_selected" class="custom-select" id="inputGroupSelect01" (change)="selectChange()">
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
      
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Sort By</label>
            </div>
            <select [(ngModel)]="selected_sort" class="custom-select" id="inputGroupSelect01" (change)="selectSort()" >
                <option *ngFor="let sort of sorts" [value]="sort" >{{ sort }}</option>
            </select>
        </div> 
    </div>
    <div class="col-lg-2"></div>       
</div>    
<div class="container-fluid">
    <div class="jumbotron text-center" >     
        <h1>2020 Presidential Election Parser</h1> 
        <h2>Race Data:</h2>   
        <p>{{ raceData.raceId }}</p>
        <p>{{ raceData.raceSlug }}</p>
        <p>{{ raceData.raceUrl }}</p>
    </div>        
</div>     
<app-votes-table [state_selected]="state_selected" [selected_sort]="selected_sort" [thePresVotes]="thePresVotes"></app-votes-table>